{{ $augmentArgs := .AugmentData.V1.httpServer.templateInput }}

{{ if not (empty $augmentArgs.useCustom404Response) }}
error_page 404 /custom_404.html;
location = /custom_404.html {
        root /usr/share/nginx/html;
        internal;
}{{ end }}
